<template>
  <v-dialog v-model="editorEditDialog" hide-overlay persistent width="480">
    <v-card outlined>
      <v-card-title class="mb-1">
        {{ $t('appBar.editor.editDialog.title') }}
        <v-icon
          @click="$store.commit('ui/SET_EDITOR_EDIT_DIALOG', {active: false, data: null})"
          style="position: absolute; right: 16px"
        >mdi-close</v-icon>
      </v-card-title>
      <v-card-text>
        <v-text-field
          v-model="name"
          outlined
          dense
          :placeholder="$t('appBar.editor.editDialog.name')"
          color="black"
        ></v-text-field>
      </v-card-text>
      <v-card-actions>
        <v-btn
          text
          outlined
          block
          :loading="loading"
          @click="editParticipant()"
          :disabled="!name"
        >{{ $t('appBar.editor.editDialog.edit') }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "AppBarEditorEditDialog",
  data: () => ({
    loading: false,
    name: "",
  }),
  computed: {
    participantData() {
      if (
        this.$store.state.ui.editorEditDialog &&
        this.$store.state.ui.editorEditDialog.data
      ) {
        return this.$store.state.ui.editorEditDialog.data;
      }
    },
    editorEditDialog() {
      return this.$store.state.ui.editorEditDialog.active;
    },
  },
  watch: {
    participantData(value) {
      if (value && this.editorEditDialog) {
        this.name = value.name;
      } else this.name = "";
    },
  },
  beforeDestroy() {
    this.$store.commit("ui/SET_EDITOR_EDIT_DIALOG", {
      active: false,
      data: null,
    });
  },
  methods: {
    async editParticipant() {
      if (this.participantData) {
        this.loading = true;

        try {
          const response = await this.$contest.updateParticipant({
            participantId: this.participantData.id,
            data: { name: this.name },
          });

          if (response) {
            this.$store.commit(
              "ui/UPDATE_CONTEST_CREATE_PAGE_APRTICIPANT",
              response
            );
          }
        } catch (error) {
          this.$store.commit("ui/SET_ALERT", {
            type: "error",
            message: error,
          });
        }

        this.$store.commit("ui/SET_EDITOR_EDIT_DIALOG", {
          active: false,
          data: null,
        });

        this.loading = false;
      }
    },
  },
};
</script>
