<template>
  <div class="d-flex">
    <span class="mt-3 mr-4">{{ $t('appBar.editor.status') }}:</span>
    <v-divider vertical />
    <v-select
      :value="value"
      :items="statuses"
      item-text="description"
      item-value="value"
      hide-details
      dense
      height="47"
      style="width: 300px"
      flat
      solo
      :placeholder="$t('appBar.editor.placeholder')"
      color="black"
      :disabled="!contestData"
      @change="checkBeforeChangeStatus"
      ref="statusSelect"
    >
      <template v-slot:item="{ item, on, attrs }">
        <v-list-item
          :class="attrs.inputValue ? 'v-list-item--active' : ''"
          v-show="item.key !== 'Draft'"
          v-on="on"
        >{{ item.description }}</v-list-item>
      </template>
    </v-select>
    <v-divider vertical />
    <template v-if="contestLink">
      <span class="mt-3 ml-4 mr-1">{{ $t('appBar.editor.link') }}:</span>
      <nuxt-link
        class="mt-3 mr-4"
        :to="contestLink"
        exact
        ref="copyLink"
      >{{ `https://${hostname}${contestLink}` }}</nuxt-link>
      <v-divider vertical></v-divider>
      <v-btn
        icon
        color="black"
        :ripple="false"
        height="47"
        tile
        :title="$t('appBar.editor.copy')"
        @click="copyLink()"
      >📋</v-btn>
      <v-divider vertical />
    </template>
    <app-bar-editor-add-dialog />
    <app-bar-editor-edit-dialog />
  </div>
</template>

<script>
import AppBarEditorAddDialog from "./AppBarEditorAddDialog";
import AppBarEditorEditDialog from "./AppBarEditorEditDialog";

export default {
  name: "AppBarEditorExtension",
  components: {
    AppBarEditorAddDialog,
    AppBarEditorEditDialog,
  },
  data() {
    return {
      value: null,
      hostname: process.client ? window.location.host : "",
    };
  },
  computed: {
    statuses() {
      return [
        {
          key: "Draft",
          value: 0,
          description: `📌 ${this.$t("appBar.editor.draft")}`,
        },
        {
          key: "Published",
          value: 1,
          description: `💡 ${this.$t("appBar.editor.published")}`,
        },
        {
          key: "DirectLink",
          value: 2,
          description: `🔗 ${this.$t("appBar.editor.directLink")}`,
        },
        {
          key: "Hidden",
          value: 3,
          description: `🚫 ${this.$t("appBar.editor.hidden")}`,
        },
      ];
    },
    contestData() {
      if (
        this.$store.state.ui.contestCreatePage &&
        this.$store.state.ui.contestCreatePage.contestData
      ) {
        return this.$store.state.ui.contestCreatePage.contestData;
      } else return null;
    },
    participants() {
      return this.$store.state.ui.contestCreatePage.participants;
    },
    contestLink() {
      if (
        this.$store.state.ui.contestCreatePage.contestData &&
        this.$store.state.ui.contestCreatePage.contestData.status.key ===
          "DirectLink"
      ) {
        return this.localePath(`/contest/${this.contestData.slug}`);
      } else return null;
    },
  },
  watch: {
    "contestData.status": {
      handler(value) {
        if (value) {
          this.value = value;
        } else this.value = null;
      },
      immediate: true,
    },
  },
  methods: {
    async checkBeforeChangeStatus(value) {
      if (value !== 3) {
        const count = Math.log2(this.participants.length);

        if (count > 0 && Number.isInteger(count)) {
          await this.changeContestStatus(value);
        } else {
          this.$store.commit("ui/SET_ALERT", {
            type: "error",
            message: this.$t("appBar.editor.message"),
          });

          this.value = {
            key: "Draft",
            value: 0,
            description: `📌 ${this.$t("appBar.editor.draft")}`,
          };
        }
      } else {
        await this.changeContestStatus(value);
      }
    },
    async changeContestStatus(value) {
      try {
        const response = await this.$contest.updateStatus({
          contestId: this.contestData.id,
          data: {
            status: value,
          },
        });

        this.$store.commit("ui/SET_CONTEST_CREATE_PAGE_DATA", response);
        this.$store.commit("ui/SET_ALERT", {
          type: "success",
          message: this.$t("appBar.editor.successStatus"),
        });
      } catch (error) {
        this.$store.commit("ui/SET_ALERT", {
          type: "error",
          message: error,
        });

        this.value = this.contestData.status;
      }
    },
    copyLink() {
      this.selectText(this.$refs.copyLink.$el);
      document.execCommand("copy");

      const selection = window.getSelection();
      const range = selection.getRangeAt(0);
      selection.removeRange(range);

      this.$store.commit("ui/SET_ALERT", {
        type: "success",
        message: this.$t("appBar.editor.copied"),
      });
    },
    selectText(element) {
      var range;
      if (document.selection) {
        // IE
        range = document.body.createTextRange();
        range.moveToElementText(element);
        range.select();
      } else if (window.getSelection) {
        range = document.createRange();
        range.selectNode(element);
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(range);
      }
    },
  },
};
</script>
