<template>
  <v-dialog v-model="editorAddDialog" hide-overlay persistent width="480">
    <v-card outlined>
      <v-card-title class="mb-1">
        {{ $t('appBar.editor.addDialog.title') }}
        <v-icon @click="closeDialog()" style="position: absolute; right: 16px">mdi-close</v-icon>
      </v-card-title>
      <v-card-text>
        <v-btn-toggle v-model="toggleType" dense mandatory class="actions-group pb-4">
          <v-btn text outlined class="flex-shrink-1">{{ $t('appBar.editor.addDialog.image') }}</v-btn>
          <v-btn text outlined class="flex-shrink-1">{{ $t('appBar.editor.addDialog.video') }}</v-btn>
        </v-btn-toggle>
        <template v-if="toggleType === 0">
          <v-sheet
            v-show="!fileURL"
            @drop.prevent="addDropFile"
            @dragover.prevent="isDragging = true"
            @dragleave.prevent="isDragging = false"
            @click.stop="$refs.fileInput.click()"
            :title="$t('appBar.editor.addDialog.placeholder')"
            width="100%"
            height="100"
            :class="`mb-4 dragzone ${isDragging ? 'dragzone--entered' : ''}`"
            style="cursor: pointer; "
          >
            <input
              v-show="false"
              ref="fileInput"
              type="file"
              accept="image/*"
              @change="addInputFile"
            />
            <v-row align="center" justify="center" style="height:100%">
              <span class="pt-4" style="font-size: 2rem; width: 100%; text-align: center">☁️</span>
              <span class="pb-4">{{ $t('appBar.editor.addDialog.placeholder') }}</span>
            </v-row>
          </v-sheet>
          <div
            @drop.prevent="addDropFile"
            @dragover.prevent
            v-if="fileURL"
            class="d-flex justify-center mb-4"
            style="max-width: 100%"
          >
            <img :src="fileURL" style="max-width: 100%; max-height: 250px" />
            <v-icon
              @click="() => {file = null, fileURL = ''}"
              style="position:absolute; right:16px"
            >mdi-close</v-icon>
          </div>
        </template>
        <template v-else-if="toggleType === 1">
          <v-text-field
            v-model="videoURL"
            outlined
            dense
            :placeholder="$t('appBar.editor.addDialog.videoLink')"
            color="black"
            hide-details
            class="pb-4"
          ></v-text-field>
          <iframe
            v-if="videoURL"
            height="200px"
            width="100%"
            :src="`//www.youtube.com/embed/${embedURL}`"
            frameborder="0"
          ></iframe>
        </template>
        <v-text-field v-model="name" outlined dense placeholder="Имя" color="black"></v-text-field>
      </v-card-text>
      <v-card-actions>
        <v-btn
          text
          outlined
          block
          :loading="loading"
          @click="addParticipant()"
        >{{ $t('appBar.editor.addDialog.add') }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "AppBarEditorAddDialog",
  data: () => ({
    toggleType: 0,
    isDragging: false,
    loading: false,
    name: "",
    file: null,
    fileURL: "",
    videoURL: "",
  }),
  computed: {
    contestData() {
      if (
        this.$store.state.ui.contestCreatePage &&
        this.$store.state.ui.contestCreatePage.contestData
      ) {
        return this.$store.state.ui.contestCreatePage.contestData;
      }
    },
    editorAddDialog() {
      if (!this.$store.state.ui.editorAddDialog) {
        this.name = "";
        this.file = null;
        this.fileURL = "";
        this.videoURL = "";
      }

      return this.$store.state.ui.editorAddDialog;
    },
    embedURL() {
      if (this.videoURL) {
        const id = this.getYTId(this.videoURL);
        return id;
      }
    },
  },
  beforeDestroy() {
    this.$store.commit("ui/SET_EDITOR_ADD_DIALOG", false);
  },
  methods: {
    addDropFile(e) {
      if (this.editorAddDialog) {
        this.isDragging = false;
        if (
          e.dataTransfer.files[0] &&
          e.dataTransfer.files[0].type.includes("image/")
        ) {
          this.file = e.dataTransfer.files[0];
          this.fileURL = URL.createObjectURL(e.dataTransfer.files[0]);
        } else if (e.dataTransfer.getData("text/html")) {
          const regExp = /src="?([^"\s]+)"?\s*/;
          const url = regExp.exec(e.dataTransfer.getData("text/html"));
          if (url) {
            // TODO: Finish drag and drop
            console.log(url[1]);
          }
        }
      }
    },
    addInputFile() {
      if (this.editorAddDialog) {
        if (this.$refs.fileInput.files[0]) {
          this.file = this.$refs.fileInput.files[0];
          this.fileURL = URL.createObjectURL(this.$refs.fileInput.files[0]);
        }
      }
    },
    getYTId(url) {
      const regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|&v=)([^#&?]*).*/;
      const match = url.match(regExp);

      return match && match[2].length === 11 ? match[2] : null;
    },
    async addParticipant() {
      const data = new FormData();
      data.append("name", this.name);
      data.append("type", this.toggleType === 0 ? "image" : "video");
      data.append("media", this.toggleType === 0 ? this.file : "");
      data.append(
        "media_url",
        this.toggleType === 1 ? `//www.youtube.com/embed/${this.embedURL}` : ""
      );

      if (this.contestData) {
        this.loading = true;

        try {
          const response = await this.$contest.addParticipant({
            contestId: this.contestData.id,
            data: data,
          });

          if (response) {
            this.$store.commit(
              "ui/ADD_CONTEST_CREATE_PAGE_PARTICIPANT",
              response
            );
          }
        } catch (error) {
          let message = error.message
          if (error.message === 'CONTEST_IS_PUBLISHED') {
            message = this.$t('appBar.editor.addDialog.message')
          }
          this.$store.commit("ui/SET_ALERT", {
            type: "error",
            message: message,
          });
        }
        this.loading = false;

        this.closeDialog();
      }
    },
    closeDialog() {
      this.$store.commit("ui/SET_EDITOR_ADD_DIALOG", false);
      this.$refs.fileInput.value = "";
    },
  },
};
</script>

<style lang="sass">
.dragzone
  border: 1px dashed rgba(0, 0, 0, .42) !important
  transition: all .25s ease
  &:hover
    border-color: black !important
  &--entered
    background-color: #eeeeee !important
    border-color: black !important
</style>
