<template>
  <div class="d-flex d-sm-none" style="width: 100%">
    <v-spacer />
    <v-menu eager attach offset-y left>
      <template v-slot:activator="{on, value}">
        <v-btn text v-on="on">
          🍔 {{ $t('appBar.menu.title') }}
          <v-icon v-if="value">mdi-menu-up</v-icon>
          <v-icon v-else>mdi-menu-down</v-icon>
        </v-btn>
      </template>
      <v-list class="py-0">
        <template v-if="$auth.loggedIn">
          <v-btn
            large
            text
            tile
            block
            :to="localePath(`/contest/create`)"
            exact
            nuxt
            active-class="no-active"
          >➕ {{ $t('appBar.menu.createContest') }}</v-btn>
          <v-btn
            large
            text
            tile
            block
            :to="localePath(`/my-contests`)"
            exact
            nuxt
            active-class="no-active"
          >🆚 {{ $t('appBar.menu.myContests') }}</v-btn>
          <v-divider />
          <v-list-group no-action :ripple="false" eager append-icon>
            <template v-slot:activator>
              <span class="text-center" style="width:100%">{{ $auth.user.name }}</span>
            </template>
            <!-- <v-btn
              text
              large
              tile
              block
              :to="localePath('/profile')"
              exact
              nuxt
              active-class="no-active"
            >👤 {{ $t('appBar.userButton.profile') }}</v-btn> -->
            <v-btn
              text
              large
              tile
              block
              @click="$auth.logout()"
            >🚪 {{ $t('appBar.userButton.signOut') }}</v-btn>
          </v-list-group>
        </template>
        <template v-else>
          <v-btn
            large
            text
            tile
            block
            @click="$store.commit('ui/SET_SIGN_IN_DIALOG', true)"
          >➕ {{ $t('appBar.menu.createContest') }}</v-btn>
          <v-btn
            large
            text
            tile
            block
            @click="$store.commit('ui/SET_SIGN_IN_DIALOG', true)"
          >{{ $t('appBar.user.loginButton') }}</v-btn>
        </template>
      </v-list>
    </v-menu>
  </div>
</template>