<template>
  <v-row align="center" class="extension" no-gutters style="max-width: 100%; height: 100%">
    <v-col xl="9" lg="8" md="8" sm="8" xs="12" class="justify-end d-none d-md-flex">
      <v-tabs
        :value="typeTabs"
        color="black"
        ref="typeTabs"
        class="flex-grow-0"
        height="46"
        @change="typeTabsChange"
      >
        <v-tab v-for="item in typeTabsValues" :key="item.value">{{ item.title }}</v-tab>
      </v-tabs>
      <v-divider vertical />
      <v-tabs :value="dateTabs" color="black" ref="dateTabs" height="46" @change="dateTabsChange">
        <v-tab
          v-for="item in dateTabsValues"
          :disabled="dateTabsDisabled"
          :key="item.value"
        >{{ item.title }}</v-tab>
      </v-tabs>
    </v-col>
    <v-col
      xl="3"
      lg="4"
      md="4"
      sm="12"
      xs="12"
      class="justify-end align-start"
      style="flex-basis: auto"
    >
      <v-spacer />
      <v-text-field
        v-model="searchInput"
        @input.native.stop
        @keydown.enter="search()"
        solo
        flat
        dense
        clearable
        height="46"
        :label="$t('appBar.search.placeholder')"
        hide-details
        color="black"
        class="search-form"
      >
        <template v-slot:prepend>
          <v-divider vertical />
        </template>
        <template v-slot:prepend-inner>
          <span class="ml-1">🔎</span>
        </template>
        <template v-slot:append-outer>
          <v-divider vertical />
          <v-btn
            tile
            text
            height="48"
            :loading="loading"
            @click="search()"
          >{{ $t("appBar.search.button") }}</v-btn>
          <v-divider vertical />
        </template>
      </v-text-field>
    </v-col>

    <v-col cols="6" class="d-sm-flex d-md-none">
      <v-select
        :value="typeTabs"
        :items="typeTabsValues"
        item-text="title"
        item-value="value"
        color="black"
        solo
        flat
        hide-details
        dense
        aria-label="type"
        @change="typeTabsChange"
        class="tabsSelect"
      >
        <template v-slot:prepend>
          <div class="custom-divider"></div>
        </template>
        <template v-if="typeTabs === 0" v-slot:prepend-inner>🔥</template>
        <template v-else v-slot:prepend-inner>🆕</template>
      </v-select>
    </v-col>

    <v-col cols="6" class="d-sm-flex d-md-none">
      <v-select
        :value="dateTabs"
        :items="dateTabsValues"
        dense
        item-text="title"
        item-value="value"
        color="black"
        hide-details
        solo
        flat
        aria-label="date"
        :disabled="dateTabsDisabled"
        @change="dateTabsChange"
        class="tabsSelect"
      >
        <template v-slot:prepend>
          <div class="custom-divider"></div>
        </template>
        <template v-slot:prepend-inner>📅</template>
        <template v-slot:append-outer>
          <div class="custom-divider"></div>
        </template>
      </v-select>
    </v-col>
    <v-divider
      class="d-sm-flex d-md-none"
      style="position: absolute;
    width: 100%;
    left: 0;
    top: 49px;"
    />
  </v-row>
</template>

<script>
import { isMobile } from "@/mixins/mixins";

export default {
  name: "AppBarExtension",
  data: () => ({
    dateTabsDisabled: false,
    items: [],
    searchInput: "",
    searchButtonPressed: false,
    loading: false,
  }),
  computed: {
    typeTabs() {
      return this.$store.state.ui.appBarExtension.typeTabs;
    },
    dateTabs() {
      return this.$store.state.ui.appBarExtension.dateTabs;
    },
    typeTabsOrder() {
      return this.$store.getters["ui/typeTabs"];
    },
    dateTabsBy() {
      return this.$store.getters["ui/dateTabs"];
    },
    typeTabsValues() {
      return [
        {
          title: this.$t("appBar.toggle.popular"),
          value: 0,
        },
        {
          title: this.$t("appBar.toggle.newest"),
          value: 1,
        },
      ];
    },
    dateTabsValues() {
      return [
        {
          title: this.$t("appBar.toggle.allTime"),
          value: 0,
        },
        {
          title: this.$t("appBar.toggle.month"),
          value: 1,
        },
        {
          title: this.$t("appBar.toggle.week"),
          value: 2,
        },
        {
          title: this.$t("appBar.toggle.day"),
          value: 3,
        },
      ];
    },
  },
  watch: {
    async searchInput(value) {
      if (!value && this.searchButtonPressed === true) {
        this.$store.commit("ui/SET_PRELOADER", true);

        const { data, links, meta } = await this.$contest.list();

        this.$store.commit("ui/SET_INDEX_PAGE", {
          contests: data,
          links: links,
          meta: meta,
        });

        this.$store.commit("ui/SET_PRELOADER", false);

        this.searchButtonPressed = false;
      }
    },
  },
  beforeUpdate() {
    this.$refs.typeTabs.callSlider();
    this.$refs.dateTabs.callSlider();
  },
  methods: {
    async typeTabsChange(value) {
      this.$store.commit("ui/SET_PRELOADER", true);

      this.searchInput = "";

      if (Number.isInteger(value)) {
        this.$store.commit("ui/SET_TYPE_TABS", value);
        if (value === 1) {
          this.dateTabsDisabled = true;
          this.$store.commit("ui/SET_DATE_TABS", null);
        } else {
          this.dateTabsDisabled = false;
          this.$store.commit("ui/SET_DATE_TABS", 0);
        }

        const { data, links, meta } = await this.$contest.list({
          order: this.typeTabsOrder,
        });

        this.$store.commit("ui/SET_INDEX_PAGE", {
          contests: data,
          links: links,
          meta: meta,
        });
      }

      this.$store.commit("ui/SET_PRELOADER", false);
    },
    async dateTabsChange(value) {
      this.$store.commit("ui/SET_PRELOADER", true);
      this.searchInput = "";

      if (Number.isInteger(value)) {
        this.$store.commit("ui/SET_DATE_TABS", value);

        const { data, links, meta } = await this.$contest.list({
          by: this.dateTabsBy,
        });
        this.$store.commit("ui/SET_INDEX_PAGE", {
          contests: data,
          links: links,
          meta: meta,
        });
      }

      this.$store.commit("ui/SET_PRELOADER", false);
    },
    async search() {
      if (this.searchInput) {
        this.loading = true;
        this.searchButtonPressed = true;

        const { data, links, meta } = await this.$contest.search({
          q: this.searchInput,
        });

        this.$store.commit("ui/SET_INDEX_PAGE", {
          contests: data,
          links: links,
          meta: meta,
        });

        this.loading = false;
      }
    },
  },
  mixins: [isMobile],
};
</script>

<style lang="sass" scoped>
.v-tabs
  width: unset
</style>

<style lang="sass">
.v-tab
  text-transform: inherit !important
.search-form
  border-radius: 0 !important
  .v-input
    &__prepend-outer
      margin: 0 !important
      height: 48px
    &__append-outer
      margin: 0 !important
.extension
  .v-text-field.v-text-field--enclosed:not(.v-text-field--rounded) > .v-input__control > .v-input__slot  
    padding: 0 !important
  .tabsSelect
    align-items: center
    .v-input__prepend-outer, .v-input__append-outer
      margin-top: 0 !important
      margin-bottom: 0 !important
      .custom-divider
        width: 1px 
        height: 46px 
        background-color: rgba(0, 0, 0, 0.12)
</style>
