<template>
  <v-menu
    eager
    attach
    v-if="$auth.loggedIn"
    :value="$vuetify.breakpoint.mobile ? false : undefined"
    offset-y
  >
    <template v-slot:activator="{on, value}">
      <v-btn large text v-on="on">
        🍔 {{ $t('appBar.menu.title') }}
        <v-icon v-if="value">mdi-menu-up</v-icon>
        <v-icon v-else>mdi-menu-down</v-icon>
      </v-btn>
    </template>
    <v-list class="py-0" v-show="appBarValue">
      <v-btn
        large
        text
        tile
        block
        :to="localePath(`/contest/create`)"
        exact
        nuxt
        active-class="no-active"
      >➕ {{ $t('appBar.menu.createContest') }}</v-btn>
      <v-btn
        large
        text
        tile
        block
        :to="localePath(`/my-contests`)"
        exact
        nuxt
        active-class="no-active"
      >🆚 {{ $t('appBar.menu.myContests') }}</v-btn>
    </v-list>
  </v-menu>
  <v-btn v-else large text @click="openSignInDialog()">➕ {{ $t('appBar.menu.createContest') }}</v-btn>
</template>

<script>
export default {
  name: "AppBarMenu",
  computed: {
    appBarValue() {
      return this.$store.state.ui.appBarValue;
    },
  },
  methods: {
    openSignInDialog() {
      this.$store.commit("ui/SET_SIGN_IN_DIALOG", true);
    },
  },
};
</script>
