<template>
  <v-app-bar
    app
    fixed
    flat
    tile
    class="header"
    color="white"
    hide-on-scroll
    v-model="appBarValue"
    :extension-height="
      type === 'extended' && $vuetify.breakpoint.smAndDown ? 96 : 48
    "
  >
    <nuxt-link :to="localePath('/')" class="logo-title">
      <v-toolbar-title>PICK.WS</v-toolbar-title>
    </nuxt-link>

    <v-divider class="ml-4 mr-4 d-none d-sm-flex" vertical />

    <div class="d-none d-sm-flex" style="width: 100%">
      <app-bar-menu />
      <v-spacer />

      <app-bar-locale-select />

      <app-bar-user-button v-if="$auth.loggedIn" />
      <app-bar-sign-button v-else />
    </div>

    <app-bar-mobile-menu v-if="isMobile" />

    <template v-if="type === 'extended'" v-slot:extension>
      <app-bar-extension />
    </template>

    <template v-else-if="type === 'editor'" v-slot:extension>
      <app-bar-editor-extension />
    </template>
  </v-app-bar>
</template>

<script>
import AppBarExtension from "./AppBarExtension";
import AppBarEditorExtension from "./AppBarEditor/AppBarEditorExtension";

import { isMobile } from "@/mixins/mixins";

export default {
  name: "AppBar",
  components: {
    AppBarMenu: () => import("./AppBarMenu"),
    AppBarMobileMenu: () => import("./AppBarMobileMenu"),
    AppBarLocaleSelect: () => import("./AppBarLocaleSelect"),
    AppBarSignButton: () => import("./AppBarUser/AppBarSignButton"),
    AppBarUserButton: () => import("./AppBarUser/AppBarUserButton"),
    AppBarExtension,
    AppBarEditorExtension,
  },
  props: {
    type: {
      type: String,
      default: "default",
    },
  },
  data: () => ({
    appBarValue: true,
  }),
  watch: {
    appBarValue: {
      handler: function (value) {
        this.$store.commit("ui/SET_APP_BAR_VALUE", value);
      },
      immediate: true,
    },
  },
  mixins: [isMobile],
};
</script>

<style lang="sass">
.header
  .v-toolbar
    &__title
      font-size: 2.125rem !important
      line-height: 2.5rem !important
    &__extension
      z-index: -1 !important
      padding: 0 16px !important
    &__content, &__extension
      border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important
      .logo-title
        font-family: 'Nunito', sans-serif
        text-decoration: none
        color: inherit
        background: linear-gradient(to right,#27c4f5,#a307ba,#fd8d32,#70c050,#27c4f5)
        background-size: 200% 200%
        animation: rainbow 1.5s linear infinite
        background-clip: text
        color: rgba(0,0,0,1)
        transition: color 0.2s ease-in-out
        &:hover,&:focus
          color: rgba(0,0,0,0)
          @keyframes rainbow
            0%
              background-position: 0% 0
            100%
              background-position: 200% 0


</style>
