<template>
  <v-menu eager attach :value="$vuetify.breakpoint.mobile ? false : undefined" offset-y>
    <template v-slot:activator="{ on, value }">
      <v-btn large text v-on="on">
        <img
          v-if="currentLocale.code === 'en'"
          style="max-height:20px"
          src="/flag_us.png"
          class="mr-2"
          alt="🇺🇸"
        />
        <img
          v-else-if="currentLocale.code === 'ru'"
          style="max-height:20px"
          src="/flag_ru.png"
          class="mr-2"
          alt="🇷🇺"
        />
        {{ currentLocale.name }}
        <v-icon v-if="value">mdi-menu-up</v-icon>
        <v-icon v-else>mdi-menu-down</v-icon>
      </v-btn>
    </template>
    <v-list class="py-0" v-show="appBarValue">
      <v-list-item
        v-for="(locale, index) in locales"
        :key="index"
        nuxt
        :to="switchLocalePath(locale.code)"
      >
        <v-list-item-avatar v-if="locale.code === 'en'" size="20" class="mr-2" tile>
          <v-img width="20" src="/flag_us.png" alt="🇺🇸" />
        </v-list-item-avatar>
        <v-list-item-avatar v-else-if="locale.code === 'ru'" size="20" class="mr-2" tile>
          <v-img width="20" src="/flag_ru.png" alt="🇷🇺" />
        </v-list-item-avatar>
        <v-list-item-title>{{ locale.name }}</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  name: "AppBarLocaleSelect",
  computed: {
    locales() {
      return this.$i18n.locales;
    },
    currentLocale() {
      return this.$i18n.locales.find(
        (locale) => locale.code === this.$i18n.locale
      );
    },
    appBarValue() {
      return this.$store.state.ui.appBarValue;
    },
  },
  watch: {
    "$i18n.locale": {
      handler: function (value) {
        this.$vuetify.lang.current = value;
      },
      immediate: true,
    },
  },
};
</script>
