<template>
  <div class="d-inline-block" style="width: 100%">
    <v-text-field
      v-model="name"
      outlined
      dense
      :placeholder="$t('appBar.user.signUpDialog.username')"
      color="black"
      aria-label="username"
      :rules="[v => v.length >= 3 || v.length === 0 || $t('contestResultPage.comments.usernameRules')]"
      :disabled="disabled"
    />
    <v-textarea
      v-model="text"
      outlined
      dense
      color="black"
      auto-grow
      :placeholder="$t('contestResultPage.comments.messagePlaceholder')"
      aria-label="message"
      rows="2"
    />
    <v-btn
      text
      outlined
      class="float-right"
      :loading="loading"
      :disabled="!text || !(name.length >= 3 || name.length === 0)"
      @click="postComment()"
    >{{ $t('contestResultPage.comments.post') }}</v-btn>
  </div>
</template>

<script>
export default {
  name: "CommentInput",
  data: () => ({
    name: "",
    text: "",
    loading: false,
    disabled: false,
  }),
  beforeMount() {
    if (this.$auth.loggedIn) {
      this.name = this.$auth.user.name;
      this.disabled = true;
    }
  },
  methods: {
    async postComment() {
      this.loading = true;

      const response = await this.$contest.postComment({
        contestId: this.$parent.contest.id,
        data: {
          name: this.name,
          text: this.text,
        },
      });

      this.loading = false;

      this.$auth.loggedIn
        ? (this.name = this.$auth.user.name)
        : (this.name = "");
      this.text = "";
    },
  },
};
</script>
