<template>
  <v-list-item>
    <v-list-item-content>
      <v-list-item-subtitle>
        {{ comment.name || 'Anonymous' }}
        <span
          style="float:right"
        >{{ formatDate(comment.created_at) }}</span>
      </v-list-item-subtitle>
      {{ comment.text }}
    </v-list-item-content>
  </v-list-item>
</template>

<script>
import { formatDate } from "@/utils/utils";

export default {
  name: "CommentItem",
  props: {
    comment: {
      type: Object,
      required: true,
    },
  },
  methods: {
    formatDate,
  },
};
</script>
