<template>
  <div>
    <comment-input @comment-posted="getCommentsPage(paging.current_page)" />
    <v-list>
      <template v-for="(comment, index) in comments">
        <comment-item :comment="comment" :key="index" />
        <v-divider :key="'d-' + index" />
      </template>
    </v-list>
    <v-pagination
      v-if="paging && comments.length !== 0"
      :value="paging.current_page"
      :length="paging.last_page"
      @input="getCommentsPage"
      total-visible="5"
      next-icon="➡️"
      prev-icon="⬅️"
      class="comment-pagination"
    />
  </div>
</template>

<script>
import CommentItem from "./CommentItem";
import CommentInput from "./CommentInput";

export default {
  name: "CommentList",
  props: {
    contest: Object,
  },
  components: {
    CommentItem,
    CommentInput,
  },
  data: () => ({
    comments: [],
    paging: null,
  }),
  created() {
    this.getCommentsPage();
  },
  methods: {
    async getCommentsPage(page) {
      const { data, meta } = await this.$contest.getComments({
        contestId: this.contest.id,
        page: page,
      });

      this.comments = data;
      this.paging = meta;
    },
  },
};
</script>

<style lang="sass">
.comment-pagination
  .v-pagination__navigation
    outline: none
    box-shadow: none
    i
      font-style: normal !important
      color: black
  .v-pagination__item
    outline: none
    box-shadow: none
    border: solid 1px rgba(0, 0, 0, .12)
</style>
