<template>
  <v-col xl="2" lg="3" md="4" sm="6" xs="12">
    <v-card outlined>
      <div v-if="item.participants" class="d-flex" style="position:relative; max-height: 250px">
        <template v-if="item.participants[0]">
          <v-img
            :src="item.participants[0].type === 'image' ? item.participants[0].media_url : getYtThumbnail(item.participants[0].media_url)"
            width="50%"
            aspect-ratio="0.55"
          />
        </template>
        <template v-if="item.participants[1]">
          <v-img
            :src="item.participants[1].type === 'image' ? item.participants[1].media_url : getYtThumbnail(item.participants[1].media_url)"
            width="50%"
            aspect-ratio="0.55"
          />
        </template>
        <div
          class="d-flex align-center justify-center"
          style="position: absolute; width:100%; height: 100%"
        >
          <span class="headline" style="z-index:1">🆚</span>
        </div>
      </div>
      <v-card-title class="pa-2">
        <div class="text-ellipsis-multiline">{{ item.name }}</div>
      </v-card-title>
      <v-card-subtitle class="pa-2">
        <div class="text-ellipsis-multiline">{{ item.description }}</div>
      </v-card-subtitle>
      <v-card-subtitle class="meta-info pa-2 d-flex justify-space-between">
        <span
          :title="`${$t('contestItem.authorTooltip')}: ${item.user ? item.user.name : ''}`"
        >👤 {{ item.user ? item.user.name : '' }}</span>
        <span
          :title="`${$t('contestItem.popularityTooltip')}: ${item.popularity || 0}`"
          class="text-center"
        >📈 {{ item.popularity || 0 }}</span>
        <span
          :title="`${$t('contestItem.createDateTooltip')}: ${formatDate(item.created_at)}`"
          class="text-right"
        >📅 {{ formatDate(item.created_at) }}</span>
      </v-card-subtitle>
      <v-card-actions>
        <v-btn-toggle dense class="actions-group">
          <v-btn
            outlined
            :to="localePath(`/contest/${item.slug}`)"
            nuxt
            exact
            class="subtitle-1 flex-shrink-1"
            :title="$t('contestItem.startTooltip')"
          >▶</v-btn>

          <v-btn
            outlined
            :to="localePath(`/contest/${item.slug}/result`)"
            nuxt
            exact
            class="subtitle-1 flex-shrink-1"
            :title="$t('contestItem.statsTooltip')"
          >📋</v-btn>

          <v-menu eager offset-y attach>
            <template v-slot:activator="{ on }">
              <v-btn
                v-on="on"
                outlined
                class="subtitle-1 flex-shrink-1"
                :title=" $t('contestItem.shareTooltip')"
              >📣</v-btn>
            </template>
            <v-card>
              <v-card-actions>
                <ShareNetwork
                  v-for="network in networks"
                  :key="network.network"
                  :network="network.network"
                  :url="'https://pick.ws' + `/contest/${item.slug}`"
                  :title="`${$t('contestPage.head.title')} «${item.name}»`"
                  :description="item.description"
                  :image="item.participants[0].type === 'image' ? item.participants[0].media_url : getYtThumbnail(item.participants[0].media_url)"
                  hashtags="pick.ws"
                  tag="div"
                >
                  <v-icon
                    @click
                    :title="network.title"
                    :color="network.color"
                    class="px-1"
                  >{{ network.icon }}</v-icon>
                </ShareNetwork>
              </v-card-actions>
            </v-card>
          </v-menu>
        </v-btn-toggle>
      </v-card-actions>
    </v-card>
  </v-col>
</template>

<script>
import { getYtThumbnail, formatDate } from "@/utils/utils";
import { NETWORKS } from "@/utils/repository";

export default {
  name: "ContestItem",
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  beforeCreate() {
    this.networks = NETWORKS;
  },
  methods: {
    getYtThumbnail,
    formatDate,
  },
};
</script>

<style lang="sass">
.actions-group
  width: 100%
  >.v-btn
    width: 100%
.text-ellipsis-multiline
  width: 100%
  overflow: hidden
  display: -webkit-box
  -webkit-line-clamp: 5
  -webkit-box-orient: vertical
.meta-info
  > span
    width: 100%
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap
</style>
