<template>
  <div ref="contestPage" id="contestPage" class="grey darken-4">
    <v-toolbar color="black" flat dense dark>
      <v-toolbar-title>
        <h1 class="text-h5 d-inline">{{ contestData.name }}</h1>
        <span class="text-h5" v-show="tourDisplay"
          >[{{
            tourDisplay !== 1
              ? `${stepDisplay}/${tourDisplay}`
              : $t("contestPage.final")
          }}]</span
        >
      </v-toolbar-title>
      <v-spacer />

      <v-btn
        text
        dark
        :title="$t('contestPage.restart')"
        @click="resetSession()"
        aria-label="restart"
      >
        <v-icon>mdi-refresh</v-icon>
      </v-btn>

      <v-btn
        v-if="!isFullscreen"
        text
        dark
        :title="$t('contestPage.zoomIn')"
        @click.stop="openFullscreen()"
        aria-label="fullscreen"
      >
        <v-icon>mdi-fullscreen</v-icon>
      </v-btn>

      <v-btn
        v-else
        text
        dark
        :title="$t('contestPage.zoomOut')"
        @click.stop="closeFullscreen()"
        aria-label="zoom-out"
      >
        <v-icon>mdi-fullscreen-exit</v-icon>
      </v-btn>
    </v-toolbar>

    <v-row
      no-gutters
      class="align-center justify-center"
      :style="
        isFullscreen
          ? 'height: calc(100vh - 48px)'
          : 'height: calc(100vh - 112px)'
      "
    >
      <v-col v-if="currentStep && currentStep[0]" class="fill-height">
        <transition name="slide-left">
          <div :class="`option ${styleLeft}`" v-show="!hideLeft">
            <template v-if="currentStep[0].type === 'image'">
              <v-img
                contain
                :position="hideRight ? 'center' : 'right'"
                height="calc(100% - 64px)"
                max-width="calc(50vw - 1px)"
                :src="currentStep[0].media_url"
                :alt="currentStep[0].name"
                @click="selectParticipant(currentStep[0], 'left')"
              />
            </template>

            <template v-else-if="currentStep[0].type === 'video'">
              <iframe
                :src="`${currentStep[0].media_url}?autoplay=0&showinfo=0&controls=2&fs=0&iv_load_policy=3&rel=0`"
                height="100%"
                width="100%"
                class="pb-16"
                frameborder="0"
              />
            </template>
            <v-btn
              x-large
              color="error"
              dark
              absolute
              height="64"
              :width="hideRight ? '100%' : '50%'"
              style="bottom: 0"
              :class="isMobile ? 'px-1 text-h6' : 'text-h4'"
              @click="selectParticipant(currentStep[0], 'left')"
              >{{ currentStep[0].name }}</v-btn
            >
          </div>
        </transition>
      </v-col>
      <v-divider
        vertical
        class="grey darken-4"
        style="width: 1px; height: calc(100vh - 112px)"
      />
      <v-col v-if="currentStep && currentStep[1]" class="fill-height">
        <transition name="slide-right">
          <div :class="`option ${styleRight}`" v-show="!hideRight">
            <template v-if="currentStep[1].type === 'image'">
              <v-img
                contain
                height="calc(100% - 64px)"
                max-width="calc(50vw - 1px)"
                :position="hideLeft ? 'center' : 'left'"
                :src="currentStep[1].media_url"
                :alt="currentStep[1].name"
                @click="selectParticipant(currentStep[1], 'right')"
              />
            </template>
            <template v-else-if="currentStep[1].type === 'video'">
              <iframe
                :src="`${currentStep[1].media_url}?autoplay=0&showinfo=0&controls=2&fs=0&iv_load_policy=3&rel=0`"
                width="100%"
                height="100%"
                class="pb-16"
                frameborder="0"
              />
            </template>
            <v-btn
              x-large
              color="primary"
              dark
              absolute
              style="bottom: 0"
              :width="hideLeft ? '100%' : '50%'"
              height="64"
              :class="isMobile ? 'px-1 text-h6' : 'text-h4'"
              @click="selectParticipant(currentStep[1], 'right')"
              >{{ currentStep[1].name }}</v-btn
            >
          </div>
        </transition>
      </v-col>

      <span
        v-show="currentStep[0] && !hideLeft && !hideRight"
        style="font-size: 3rem; position: absolute; top: 45%; user-select: none"
        >🆚</span
      >
    </v-row>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { isMobile } from "@/mixins/mixins";

export default {
  name: "ContestPage",
  layout: "contest",
  data: () => ({
    isFullscreen: false,
    hideLeft: false,
    hideRight: false,
    currentStep: [],
    tourDisplay: "",
    stepDisplay: "",
    styleLeft: "option--left",
    styleRight: "",
  }),
  async fetch({ app, store, params }) {
    const contestData = await app.$contest.getBySlug(params.slug);

    store.commit("contest/SET_CONTEST_DATA", contestData);
  },
  computed: {
    ...mapState({
      contestData: (state) => state.contest.contestData,
      step: (state) => state.contest.step,
      sessionId: (state) => state.contest.sessionId,
    }),
    currentTour() {
      return this.$store.getters["contest/currentTour"];
    },
    currentStepCount() {
      return this.$store.getters["contest/currentStepCount"];
    },
  },
  watch: {
    step() {
      setTimeout(() => {
        this.hideLeft = false;
        this.hideRight = false;
        this.currentStep = this.step;
      }, 2000);
    },
    currentTour(value) {
      setTimeout(() => {
        this.tourDisplay = value;
      }, 2000);
    },
    currentStepCount(value) {
      setTimeout(() => {
        this.stepDisplay = value;
      }, 2000);
    },
    hideLeft(value) {
      if (value) {
        this.styleRight = "option--slide-left";
      } else this.styleRight = "";
    },
    hideRight(value) {
      if (value) {
        this.styleLeft = "option--slide-right";
      } else this.styleLeft = "option--left";
    },
  },
  async mounted() {
    const session = localStorage.getItem(this.$route.params.slug);

    if (session !== null) {
      try {
        const { step, info } = await this.$sessions.get(session);

        this.$store.commit("contest/SET_STEP", step);
        this.$store.commit("contest/SET_SESSION_ID", session);
        this.$store.commit("contest/SET_SESSION_INFO", info);

        this.tourDisplay = this.currentTour;
        this.stepDisplay = this.currentStepCount;
      } catch (error) {
        this.initSession();
      }
    } else {
      await this.initSession();
    }

    this.currentStep = this.step;

    document.addEventListener("fullscreenchange", (e) => {
      if (!document.fullscreenElement) {
        this.isFullscreen = false;
      }
    });
  },
  beforeDestroy() {
    this.$store.commit("contest/SET_STEP", null);
    this.$store.commit("contest/SET_SESSION_ID", "");
    this.$store.commit("contest/SET_SESSION_INFO", null);
  },
  methods: {
    async selectParticipant(selected, position) {
      if (!this.hideRight && !this.hideLeft) {
        if (position === "left") {
          this.hideRight = true;
        } else {
          this.hideLeft = true;
        }

        try {
          const { step, info } = await this.$sessions.step({
            session_id: this.sessionId,
            answer_id: selected.id,
          });

          if (step || info) {
            this.$store.commit("contest/SET_STEP", step);
            this.$store.commit("contest/SET_SESSION_INFO", info);
          } else {
            setTimeout(() => {
              this.$router.push(
                this.localePath(`/contest/${this.contestData.slug}/result`)
              );
              localStorage.removeItem(this.$route.params.slug);
            }, 2000);
          }
        } catch (error) {
          this.$router.push(
            this.localePath(`/contest/${this.contestData.slug}/result`)
          );
          localStorage.removeItem(this.$route.params.slug);
        }
      }
    },
    openFullscreen() {
      this.isFullscreen = true;
      if (this.$refs.contestPage.requestFullscreen) {
        this.$refs.contestPage.requestFullscreen();
      } else if (this.$refs.contestPage.mozRequestFullScreen) {
        /* Firefox */
        this.$refs.contestPage.mozRequestFullScreen();
      } else if (this.$refs.contestPage.webkitRequestFullscreen) {
        /* Chrome, Safari and Opera */
        this.$refs.contestPage.webkitRequestFullscreen();
      } else if (this.$refs.contestPage.msRequestFullscreen) {
        /* IE/Edge */
        this.$refs.contestPage.msRequestFullscreen();
      }
    },
    closeFullscreen() {
      if (document.exitFullscreen) {
        document.exitFullscreen();
      } else if (document.mozCancelFullScreen) {
        /* Firefox */
        document.mozCancelFullScreen();
      } else if (document.webkitExitFullscreen) {
        /* Chrome, Safari and Opera */
        document.webkitExitFullscreen();
      } else if (document.msExitFullscreen) {
        /* IE/Edge */
        document.msExitFullscreen();
      }
    },
    async initSession() {
      const { step, session, info } = await this.$sessions.init({
        contest_id: this.contestData.id,
      });

      this.$store.commit("contest/SET_STEP", step);
      this.$store.commit("contest/SET_SESSION_ID", session);
      this.$store.commit("contest/SET_SESSION_INFO", info);

      this.tourDisplay = this.currentTour;
      this.stepDisplay = this.currentStepCount;

      localStorage.setItem(this.$route.params.slug, session);
    },
    async resetSession() {
      localStorage.removeItem(this.$route.params.slug);
      this.currentStep = [];

      await this.initSession();
    },
  },
  mixins: [isMobile],
  head() {
    return {
      title: `${this.$t("contestPage.head.title")} «${this.contestData.name}»`,
      meta: [
        {
          hid: "og:title",
          property: "og:title",
          content: `${this.$t("contestPage.head.title")} «${
            this.contestData.name
          }»`,
        },
        {
          hid: "og:descrption",
          property: "og:descrption",
          content: this.contestData.description,
        },
        {
          hid: "og:url",
          property: "og:url",
          content: "https://pick.ws",
        },
        {
          hid: "og:image",
          property: "og:image",
          content: this.contestData.participants[0]
            ? this.contestData.participants[0].media_url
            : "~static/favicon.ico",
        },
        {
          hid: "og:locale",
          property: "og:locale",
          content: this.$i18n.locale,
        },
      ],
    };
  },
};
</script>

<style lang="sass">
.option
  display: flex
  height: 100%
  .v-btn__content
    width: 100%
    white-space: pre-wrap
  &--left
    justify-content: flex-end
  &--right
    justify-content: flex-start
  &--center
    transition: all .5s ease
    div
      width: 100% !important
  &--slide-left
    justify-content: center
    transition: all .5s ease
    transform: translateX(-50%)
    div
      width: 100% !important
  &--slide-right
    justify-content: center
    transition: all .5s ease
    transform: translateX(50%)
    div
      width: 100% !important
.slide-left-enter-active 
  transition: all .5s ease
  opacity: 0
.slide-left-enter-to 
  opacity: 1
.slide-left-leave-active 
  transition: all .5s ease
.slide-left-leave-to
  transform: translateX(-50%)
  opacity: 0

.slide-right-enter-active 
  transition: all .5s ease
  opacity: 0
.slide-right-enter-to 
  opacity: 1
.slide-right-leave-active 
  transition: all .5s ease
.slide-right-leave-to
  transform: translateX(50%)
  opacity: 0
</style>
