<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card outlined>
          <div class="d-flex">
            <h1 class="v-card__title" style="width: 100%">
              {{ $t("contestResultPage.title") }}
              <span
                class="font-weight-bold pl-2"
              >{{ contestData.name || '' }}</span>
            </h1>
            <v-tabs
              v-model="displayTabs"
              ref="displayTabs"
              right
              color="black"
              class="pr-4"
              style="width: inherit"
            >
              <v-tab>{{ $t("contestResultPage.list") }}</v-tab>
              <v-tab>{{ $t("contestResultPage.table") }}</v-tab>
            </v-tabs>
          </div>
          <v-card-text>
            <v-tabs-items v-model="displayTabs">
              <v-tab-item>
                <contest-result-list :items="results" />
              </v-tab-item>
              <v-tab-item>
                <v-data-table :headers="headers" :items="sortedResults" :search="search">
                  <template v-slot:top>
                    <v-row no-gutters class="justify-end">
                      <v-col xl="3" md="4" sm="6" xs="12">
                        <v-text-field
                          v-model="search"
                          dense
                          outlined
                          color="black"
                          :placeholder="$t('contestResultPage.search')"
                          clearable
                          hide-details
                        >
                          <template v-slot:prepend-inner>
                            <span class="pt-1">🔎</span>
                          </template>
                        </v-text-field>
                      </v-col>
                    </v-row>
                  </template>

                  <template v-slot:item.media_url="{item}">
                    <div class="d-flex justify-center">
                      <v-avatar
                        v-if="item && item.type === 'image'"
                        :max-width="$vuetify.breakpoint.mobile ? '48px' : '150px'"
                        class="pt-3"
                        :max-height="$vuetify.breakpoint.mobile ? '48px' : '150px'"
                        width="100%"
                        height="100%"
                        tile
                      >
                        <img :src="item.media_url" :alt="item.name" />
                      </v-avatar>
                      <iframe
                        v-else-if="item && item.type === 'video'"
                        :src="item.media_url"
                        :height="$vuetify.breakpoint.mobile ? '48px' : '150px'"
                        :width="$vuetify.breakpoint.mobile ? '64px' : '150px'"
                        style="vertical-align: middle"
                        frameborder="0"
                      />
                    </div>
                  </template>
                </v-data-table>
              </v-tab-item>
            </v-tabs-items>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-card outlined>
          <v-card-title>{{ $t("contestResultPage.comments.title") }}</v-card-title>
          <v-card-text>
            <comment-list :contest="contestData" />
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import ContestResultList from "@/components/ContestResult/ContestResultList";
import CommentList from "@/components/Comments/CommentList";

export default {
  name: "ContestResultPage",
  components: {
    ContestResultList,
    CommentList,
  },
  data() {
    return {
      displayTabs: null,
      search: "",
      headers: [
        { text: "№", value: "number", width: 80 },
        {
          text: this.$t("contestResultPage.preview"),
          value: "media_url",
          width: 200,
          sortable: false,
        },
        { text: this.$t("contestResultPage.name"), value: "name" },
        { text: this.$t("contestResultPage.votes"), value: "result" },
      ],
      results: [],
    };
  },
  computed: {
    ...mapState({
      contestData: (state) => state.contest.contestData,
    }),
    sortedResults() {
      this.results.forEach((item, index) => {
        item.number = ++index;
      });

      return this.results;
    },
  },
  async asyncData({ app, params }) {
    return {
      results: await app.$contest.results(params.slug),
    };
  },
  async fetch({ app, store, params }) {
    const contestData = await app.$contest.getBySlug(params.slug);

    store.commit("contest/SET_CONTEST_DATA", contestData);
  },
  beforeUpdate() {
    this.$refs.displayTabs.callSlider();
  },
  head() {
    return {
      title: `${this.$t("contestResultPage.head.title")} «${
        this.contestData.name
      }»`,
    };
  },
};
</script>
