<template>
  <v-overlay :value="preloader" color="white" opacity=".9" absolute >
    <div class="preloader-logo">PICK.WS</div>
  </v-overlay>
</template>

<script>
export default {
  computed: {
    preloader() {
      return this.$store.state.ui.preloader;
    }
  }
};
</script>

<style lang="sass">
.v-overlay__content
    display: flex
    align-self: baseline
    top: 40vh
.preloader-logo
    font-family: 'Nunito', sans-serif
    font-size: 3rem
    background: linear-gradient(to right,#27c4f5,#a307ba,#fd8d32,#70c050,#27c4f5)
    background-size: 200% 200%
    background-clip: text
    color: transparent
    transition: color 1s ease-in-out
    animation: preloaderRainbow .25s linear infinite
@keyframes preloaderRainbow
    0%
        background-position: 0% 0
    100%
        background-position: 200% 0
</style>