.nuxt-progress
  background: #27c4f5 linear-gradient(to right,#27c4f5,#a307ba,#fd8d32,#70c050,#27c4f5)
  background-size: 500%
  animation: rainbowBar 2s linear infinite
  @keyframes rainbowBar
    0%
      background-position: 0% 0
    to
      background-position: 125% 0

.v-btn--active.no-active
  &::before                                                                           
    opacity: 0 !important
  &:hover::before
    opacity: 0.04 !important


