// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$body-font-family: 'Inter', sans-serif;
$btn-text-transform: inherit;

@import '~vuetify/src/styles/styles.sass';
