<template>
  <v-container>
    <v-banner class="my-2" outlined style="background-color: white; border-bottom: none">
      <v-avatar slot="icon" color="white" size="40">❓</v-avatar>
      <b>{{ $t('contestCreatePage.hint.title') }}</b>
      <br />
      {{ $t('contestCreatePage.hint.first') }}
      <br />
      {{ $t('contestCreatePage.hint.second') }}
      <br />
      {{ $t('contestCreatePage.hint.third') }}
      <template v-slot:actions="{ dismiss }">
        <v-btn text color="black" @click="dismiss">{{ $t('contestCreatePage.hint.dismiss') }}</v-btn>
      </template>
    </v-banner>

    <v-row>
      <v-col cols="12">
        <v-card outlined>
          <v-card-title>{{ $t("contestCreatePage.main.title") }}</v-card-title>
          <v-card-text>
            <v-form ref="form" v-model="valid">
              <v-text-field
                v-model="name"
                outlined
                dense
                color="black"
                :placeholder="$t('contestCreatePage.main.name')"
                :rules="[v => !!v || $t('contestCreatePage.main.nameRule'), v => v.length <= 255 || $t('contestCreatePage.main.lengthRule')]"
                counter
              ></v-text-field>
              <v-textarea
                v-model="description"
                outlined
                dense
                rows="3"
                color="black"
                :placeholder="$t('contestCreatePage.main.description')"
                :rules="[v => v.length <= 255 || $t('contestCreatePage.main.lengthRule')]"
                counter
              ></v-textarea>
            </v-form>
          </v-card-text>
          <v-card-actions class="mx-2 mb-2">
            <v-spacer />
            <v-btn
              v-if="!contestData"
              text
              outlined
              :loading="loading"
              :disabled="!valid || (name === oldName && description === oldDescription)"
              @click="createContest()"
              class="px-4"
            >💾 {{ $t('contestCreatePage.main.create') }}</v-btn>
            <v-btn
              v-else
              text
              outlined
              :loading="loading"
              :disabled="!valid || (name === oldName && description === oldDescription)"
              @click="updateContest()"
              class="px-4"
            >💾 {{ $t('contestCreatePage.main.save') }}</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>

      <v-col cols="12">
        <v-card outlined>
          <v-card-title>
            {{ $t('contestCreatePage.participants.title') }} [{{participants.length}}]
            <v-spacer />
            <v-btn
              text
              outlined
              @click="$store.commit('ui/SET_EDITOR_ADD_DIALOG', true)"
              :disabled="!contestData"
            >➕ {{ $t('contestCreatePage.participants.add') }}</v-btn>
          </v-card-title>
          <v-card-text>
            <client-only>
              <v-data-table color="black" :headers="headers" :items="participants">
                <template v-slot:item.preview="{item}">
                  <div class="d-flex justify-center">
                    <fullscreen-preview
                      :item="item"
                      :size="$vuetify.breakpoint.mobile ? '48px' : '150px'"
                    />
                  </div>
                </template>

                <template v-slot:item.actions="{item}">
                  <div
                    :class="$vuetify.breakpoint.mobile ? 'd-flex flex-row' : 'd-flex flex-column'"
                  >
                    <v-btn
                      text
                      outlined
                      :class="$vuetify.breakpoint.mobile ? 'mr-2' : 'mb-2'"
                      @click="$store.commit('ui/SET_EDITOR_EDIT_DIALOG', {active: true, data: item})"
                    >✏️ {{ $t('contestCreatePage.participants.edit') }}</v-btn>
                    <v-menu>
                      <template v-slot:activator="{on}">
                        <v-btn
                          text
                          outlined
                          v-on="on"
                          :loading="loadingDelete"
                        >❌ {{ $t('contestCreatePage.participants.delete') }}</v-btn>
                      </template>
                      <v-card>
                        <v-card-text class="text-center">
                          {{ $t('contestCreatePage.participants.confirm.message') }}
                          <br />
                          <b>{{item.name}}</b>?
                        </v-card-text>
                        <v-card-actions class="actions-group">
                          <v-btn
                            text
                            outlined
                            class="flex-shrink-1"
                            @click="deleteParticipant(item.id)"
                          >{{ $t('contestCreatePage.participants.confirm.yes') }}</v-btn>
                          <v-btn
                            text
                            outlined
                            class="flex-shrink-1"
                          >{{ $t('contestCreatePage.participants.confirm.no') }}</v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-menu>
                  </div>
                </template>
              </v-data-table>
            </client-only>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import FullscreenPreview from "@/components/FullscreenPreview/FullscreenPreview";

export default {
  name: "ContestCreatePage",
  layout: "editor",
  middleware: "check-access",
  components: {
    FullscreenPreview,
  },
  data: () => ({
    name: "",
    oldName: "",
    description: "",
    oldDescription: "",
    valid: false,
    loading: false,
    loadingDelete: false,
    headers: [
      {
        text: "Изображение",
        value: "preview",
        width: 200,
        sortable: false,
        align: "center",
      },
      { text: "Имя", value: "name" },
      { value: "actions", sortable: false, align: "right", width: 100 },
    ],
  }),
  async fetch({ app, store, params, data }) {
    if (params.slug) {
      const response = await app.$contest.getBySlug(params.slug);

      store.commit("ui/SET_CONTEST_CREATE_PAGE_DATA", response);
      store.commit(
        "ui/SET_CONTEST_CREATE_PAGE_PARTICIPANTS",
        response.participants
      );
    }
  },
  computed: {
    participants() {
      if (this.$store.state.ui.contestCreatePage) {
        return this.$store.state.ui.contestCreatePage.participants;
      } else return [];
    },
    contestData() {
      if (this.$store.state.ui.contestCreatePage) {
        return this.$store.state.ui.contestCreatePage.contestData;
      } else return null;
    },
  },
  created() {
    if (this.$route.params.slug && this.contestData) {
      this.name = this.contestData.name;
      this.oldName = this.contestData.name;

      this.description = this.contestData.description;
      this.oldDescription = this.contestData.description;
    } else {
      this.$store.commit("ui/RESET_UI_STATE");
    }
  },
  methods: {
    async createContest() {
      this.$refs.form.validate();

      if (this.valid) {
        this.loading = true;

        try {
          const response = await this.$contest.create({
            name: this.name,
            description: this.description,
          });

          if (response) {
            this.$store.commit("ui/SET_CONTEST_CREATE_PAGE_DATA", response);
            this.$store.commit("ui/SET_ALERT", {
              type: "success",
              message: this.$t("contestCreatePage.participants.createSuccess"),
            });
            this.$router.push({ params: { slug: response.slug } });
          }
        } catch (error) {
          this.$store.commit("ui/SET_ALERT", {
            type: "error",
            message: error,
          });
        }

        this.loading = false;

        this.oldName = this.name;
        this.oldDescription = this.description;
      }
    },
    async updateContest() {
      this.$refs.form.validate();

      if (this.valid) {
        this.loading = true;

        try {
          const response = await this.$contest.update({
            contestId: this.contestData.id,
            data: {
              name: this.name,
              description: this.description,
            },
          });

          if (response) {
            this.$store.commit("ui/SET_CONTEST_CREATE_PAGE_DATA", response);
            this.$store.commit("ui/SET_ALERT", {
              type: "success",
              message: this.$t("contestCreatePage.participants.updateSuccess"),
            });
            this.$router.push({ params: { slug: response.slug } });
          }
        } catch (error) {
          this.$store.commit("ui/SET_ALERT", {
            type: "error",
            message: error,
          });
        }

        this.loading = false;

        this.oldName = this.name;
        this.oldDescription = this.description;
      }
    },
    async deleteParticipant(participantId) {
      this.loadingDelete = true;

      try {
        await this.$contest.deleteParticipant(participantId);

        this.$store.commit(
          "ui/REMEOVE_CONTEST_CREATE_PAGE_PARTICIPANT",
          participantId
        );

        this.$store.commit("ui/SET_ALERT", {
          type: "success",
          message: this.$t("contestCreatePage.participants.deleteSuccess"),
        });
      } catch (error) {
        this.$store.commit("ui/SET_ALERT", {
          type: "error",
          message: error,
        });
      }

      this.loadingDelete = false;
    },
  },
  head() {
    return {
      title: this.$t("contestCreatePage.head.title"),
    };
  },
};
</script>
