<template>
  <v-app>
    <app-bar />
    <v-main class="grey lighten-5">
      <nuxt />
    </v-main>
    <alert />
    <v-overlay :value="overlay" />
  </v-app>
</template>

<script>
import AppBar from "@/components/AppBar/AppBar";
import Alert from "@/components/Alert/Alert";

export default {
  name: "ContestLayout",
  components: {
    AppBar,
    Alert
  },
  computed: {
    overlay() {
      return this.$store.getters["ui/overlay"];
    }
  }
};
</script>
