<template>
  <v-app>
    <app-bar />
    <v-main
      class="grey lighten-5"
      :style="$vuetify.breakpoint.smAndDown ? 'padding: 48px 0px 160px;' : 'padding: 64px 0px 92px;'"
    >
      <nuxt />
    </v-main>
    <app-footer />
    <alert />
    <scroll-button />
    <v-overlay :value="overlay" />
  </v-app>
</template>

<script>
import AppBar from "@/components/AppBar/AppBar";
import ScrollButton from "@/components/ScrollButton/ScrollButton";
import AppFooter from "@/components/AppFooter/AppFooter";
import Alert from "@/components/Alert/Alert";

export default {
  name: "DefaultLayout",
  components: {
    AppBar,
    ScrollButton,
    AppFooter,
    Alert
  },
  computed: {
    overlay() {
      return this.$store.getters["ui/overlay"];
    },
  },
};
</script>

