<template>
  <v-app>
    <app-bar type="editor" />
    <v-main
      class="grey lighten-5"
      :style="$vuetify.breakpoint.smAndDown ? 'padding: 92px 0px 160px;' : 'padding: 112px 0px 92px;'"
    >
      <nuxt />
    </v-main>
    <app-footer />
    <alert />
    <v-overlay :value="overlay" />
    <v-overlay :value="editorOverlay" />
  </v-app>
</template>

<script>
import AppBar from "@/components/AppBar/AppBar";
import AppFooter from "@/components/AppFooter/AppFooter";
import Alert from "@/components/Alert/Alert";

export default {
  name: "EditorLayout",
  components: {
    AppBar,
    AppFooter,
    Alert
  },
  computed: {
    overlay() {
      return this.$store.getters["ui/overlay"];
    },
    editorOverlay() {
      return (
        this.$store.state.ui.editorAddDialog ||
        this.$store.state.ui.editorEditDialog.active
      );
    },
  },
};
</script>
