<template>
  <v-layout fill-height>
    <v-row>
      <v-col cols="12" class="d-flex flex-column justify-center align-center">
        <div v-if="error.statusCode === 404">
          <h1 class="display-4 text-center">🙊</h1>
          <h2 class="pt-6">{{ $t("error.404") }}</h2>
        </div>
        <div v-else>
          <h1 class="display-4 text-center">⚠️</h1>
          <h2 class="pt-6">{{ $t("error.other") }}</h2>
        </div>
        <div>
          <v-btn nuxt :to="localePath(`/`)" exact text class="mt-2">⬅️ {{ $t("error.back") }}</v-btn>
        </div>
      </v-col>
    </v-row>
  </v-layout>
</template>

<script>
export default {
  layout: "contest",
  props: {
    error: {
      type: Object,
      default: null,
    },
  },
  head() {
    const title =
      this.error.statusCode === 404
        ? this.$t("error.404")
        : this.$t("error.other");
    return {
      title,
    };
  },
};
</script>

<style lang="sass" scoped>
h1 
  font-size: 20px
</style>
