<template>
  <v-app>
    <app-bar type="extended" />
    <v-main
      class="grey lighten-5"
      :style="$vuetify.breakpoint.smAndDown ? 'padding: 142px 0px 160px' : 'padding: 112px 0px 92px'"
    >
      <nuxt />
    </v-main>
    <app-footer />
    <alert />
    <scroll-button />
    <v-overlay :value="overlay" />
  </v-app>
</template>

<script>
export default {
  name: "DefaultLayout",
  components: {
    AppBar: () => import("@/components/AppBar/AppBar"),
    ScrollButton: () => import("@/components/ScrollButton/ScrollButton"),
    AppFooter: () => import( "@/components/AppFooter/AppFooter"),
    Alert: () => import("@/components/Alert/Alert")
  },
  computed: {
    overlay() {
      return this.$store.getters["ui/overlay"];
    },
  },
};
</script>

