<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card flat outlined>
          <h1 class="v-card__title">{{ $t("contactUsPage.title") }}</h1>
          <v-card-text>
            
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  head() {
    return {
      title: this.$t("contactUsPage.head.title"),
    };
  },
};
</script>