<template>
  <v-container>
    <v-row v-if="contests.length !== 0">
      <template v-for="(item, key) in contests">
        <contest-item :item="item" :key="`contest-${key}`" />
      </template>
      <intersection-loader />
    </v-row>
    <v-row v-else>
      <v-col cols="12" class="d-flex flex-column justify-center align-center">
        <div class="pt-6 mt-6">
          <h1 class="display-4 text-center">🙈</h1>
          <h2 class="pt-6">{{ $t('indexPage.nothingFound') }}</h2>
        </div>
      </v-col>
    </v-row>
    <preloader />
  </v-container>
</template>

<script>
import ContestItem from "@/components/ContestItem/ContestItem";

export default {
  name: "IndexPage",
  layout: "main",
  components: {
    ContestItem,
    IntersectionLoader: () => import("@/components/IntersectionLoader/IntersectionLoader"),
    Preloader: () => import("@/components/Preloader/Preloader")
  },
  async fetch({ app, store }) {
    const { data, links, meta } = await app.$contest.list();

    store.commit("ui/SET_INDEX_PAGE", {
      contests: data,
      links: links,
      meta: meta,
    });
  },
  computed: {
    contests() {
      return this.$store.state.ui.indexPage.contests;
    },
  },
  async created() {
    if (this.$route.query.email_verify_token) {
      const response = await this.$user.verify({
        token: this.$route.query.email_verify_token,
      });

      if (response.message && response.message === "EMAIL_CONFIRMED") {
        this.$store.commit("ui/SET_ALERT", {
          type: "success",
          message: this.$t("indexPage.verifiedMessage"),
        });

        this.$router.push(this.localePath("/"));
      }
    }
  },
  head() {
    return {
      title: this.$t("indexPage.head.title"),
    };
  },
};
</script>
