<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card outlined>
          <v-card-title>
            {{ $t('myContestsPage.title') }}
            <v-spacer />
            <v-btn
              outlined
              text
              :to="localePath(`/contest/create`)"
              exact
              nuxt
            >➕ {{ $t('myContestsPage.createContest') }}</v-btn>
          </v-card-title>
          <v-card-text>
            <client-only>
              <v-data-table :headers="headers" :items="contests">
                <template v-slot:item.participants="{item}">
                  <div
                    class="d-flex"
                    :style="$vuetify.breakpoint.mobile ? 'width: 48px; height: 48px' : 'width: 200px; height: 200px'"
                    style="position: relative"
                  >
                    <template v-if="item.participants[0]">
                      <v-img
                        :src="item.participants[0].type === 'image' ? item.participants[0].media_url : getYtThumbnail(item.participants[0].media_url)"
                        width="50%"
                        aspect-ratio="0.55"
                      />
                    </template>
                    <template v-if="item.participants[1]">
                      <v-img
                        :src="item.participants[1].type === 'image' ? item.participants[1].media_url : getYtThumbnail(item.participants[1].media_url)"
                        width="50%"
                        aspect-ratio="0.55"
                      />
                    </template>

                    <div
                      class="headline d-flex justify-center align-center"
                      :style="$vuetify.breakpoint.mobile ? 'width: 48px; height: 48px' : 'width: 200px; height: 200px'"
                      style="position: absolute"
                    >
                      <span style="user-select: none">🆚</span>
                    </div>
                  </div>
                </template>
                <template v-slot:item.name="{item}">
                  <div style="text-overflow: ellipsis; max-width: 400px">{{ item.name }}</div>
                </template>
                <template v-slot:item.description="{item}">
                  <div style="text-overflow: ellipsis; max-width: 400px">{{ item.description }}</div>
                </template>

                <template v-slot:item.actions="{item}">
                  <div
                    :class="$vuetify.breakpoint.mobile ? 'd-flex flex-row' : 'd-flex flex-column'"
                  >
                    <v-btn
                      text
                      outlined
                      :to="localePath(`/contest/create/${item.slug}`)"
                      nuxt
                      exact
                      :class="$vuetify.breakpoint.mobile ? 'mr-2' : 'mb-2'"
                    >✏️ {{ $t('myContestsPage.editContest') }}</v-btn>
                    <v-menu>
                      <template v-slot:activator="{on}">
                        <v-btn text outlined v-on="on">❌ {{ $t('myContestsPage.deleteContest') }}</v-btn>
                      </template>
                      <v-card>
                        <v-card-text class="text-center">
                          {{ $t('myContestsPage.deleteConfirm.message') }}
                          <br />
                          <b>{{item.name}}</b>?
                        </v-card-text>
                        <v-card-actions class="actions-group">
                          <v-btn
                            text
                            outlined
                            class="flex-shrink-1"
                            @click="deleteContest(item.id)"
                          >{{ $t('myContestsPage.deleteConfirm.yes') }}</v-btn>
                          <v-btn
                            text
                            outlined
                            class="flex-shrink-1"
                          >{{ $t('myContestsPage.deleteConfirm.no') }}</v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-menu>
                  </div>
                </template>
              </v-data-table>
            </client-only>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { getYtThumbnail } from "@/utils/utils";

export default {
  name: "MyContestsPage",
  middleware: "check-access",
  data() {
    return {
      headers: [
        {
          text: this.$t("myContestsPage.preview"),
          value: "participants",
          sortable: false,
          width: 200,
        },
        { text: this.$t("myContestsPage.name"), value: "name" },
        { text: this.$t("myContestsPage.description"), value: "description" },
        {
          text: this.$t("myContestsPage.popularity"),
          value: "popularity",
          align: "center",
        },
        { value: "actions", sortable: false, align: "right", width: 100 },
      ],
    };
  },
  async asyncData(ctx) {
    return {
      contests: await ctx.app.$user.contests(),
    };
  },
  methods: {
    getYtThumbnail,
    async deleteContest(id) {
      try {
        await this.$contest.delete(id);

        const index = this.contests.findIndex((item) => item.id === id);
        this.contests.splice(index, 1);

        this.$store.commit("ui/SET_ALERT", {
          type: "success",
          message: "Конкурс удалён",
        });
      } catch (error) {
        this.$store.commit("ui/SET_ALERT", {
          type: "error",
          message: error,
        });
      }
    },
  },
  head() {
    return {
      title: this.$t("myContestsPage.head.title"),
    };
  },
};
</script>