<template>
  <v-dialog v-model="signUpDialog" persistent hide-overlay width="400">
    <v-card outlined>
      <v-card-title class="mb-1">
        {{ $t('appBar.user.signUpDialog.title') }}
        <v-icon
          @click="$store.commit('ui/SET_SIGN_UP_DIALOG', false)"
          style="position: absolute; right: 16px"
        >mdi-close</v-icon>
      </v-card-title>
      <v-card-text>
        <v-form v-model="valid" ref="form" @keyup.native.enter="signUp()">
          <v-text-field
            v-model="username"
            outlined
            dense
            :placeholder="$t('appBar.user.signUpDialog.username')"
            :rules="usernameRules"
            color="black"
          >
            <template v-slot:prepend-inner>
              <span class="pt-1 pr-1">👤</span>
            </template>
          </v-text-field>
          <v-text-field
            v-model="email"
            outlined
            dense
            :placeholder="$t('appBar.user.signUpDialog.email')"
            :rules="emailRules"
            type="email"
            color="black"
          >
            <template v-slot:prepend-inner>
              <span class="pt-1 pr-1">📧</span>
            </template>
          </v-text-field>
          <v-text-field
            v-model="password"
            outlined
            dense
            :placeholder="$t('appBar.user.signUpDialog.password')"
            :rules="passwordRules"
            type="password"
            color="black"
          >
            <template v-slot:prepend-inner>
              <span class="pt-1 pr-1">🔒</span>
            </template>
          </v-text-field>
          <v-text-field
            v-model="repeatPassword"
            outlined
            dense
            :placeholder="$t('appBar.user.signUpDialog.repeatPassword')"
            :rules="repeatPasswordRules"
            type="password"
            color="black"
          >
            <template v-slot:prepend-inner>
              <span class="pt-1 pr-1">🔐</span>
            </template>
          </v-text-field>
        </v-form>
      </v-card-text>
      <v-card-actions class="d-flex flex-column pt-0">
        <v-btn
          text
          outlined
          tile
          large
          block
          :loading="loading"
          :disabled="!valid"
          @click.stop="signUp()"
        >{{ $t('appBar.user.signUpDialog.signUp') }}</v-btn>
        <v-btn
          text
          outlined
          tile
          small
          block
          class="mx-0 mt-4"
          @click="() => {
              $store.commit('ui/SET_SIGN_UP_DIALOG', false)
              $store.commit('ui/SET_SIGN_IN_DIALOG', true)
            }"
        >{{ $t('appBar.user.signUpDialog.signIn') }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "AppBarSignUpDialog",
  data() {
    return {
      valid: true,
      loading: false,
      username: "",
      usernameRules: [
        (v) => !!v || this.$t("appBar.user.signUpDialog.usernameRules"),
      ],
      email: "",
      emailRules: [
        (v) => !!v || this.$t("appBar.user.signUpDialog.emailRequiredRules"),
        (v) =>
          /.+@.+\..+/.test(v) ||
          this.$t("appBar.user.signUpDialog.emailValidRules"),
      ],
      password: "",
      passwordRules: [
        (v) => !!v || this.$t("appBar.user.signUpDialog.passwordRules"),
      ],
      repeatPassword: "",
      repeatPasswordRules: [
        (v) => !!v || this.$t("appBar.user.signUpDialog.passwordRules"),
        (v) =>
          v === this.password ||
          this.$t("appBar.user.signUpDialog.repeatPasswordRules"),
      ],
    };
  },
  computed: {
    signUpDialog() {
      return this.$store.state.ui.signUpDialog;
    },
  },
  watch: {
    signUpDialog(value) {
      if (!value) {
        this.$refs.form.reset();
      }
    },
  },
  methods: {
    async signUp() {
      this.$refs.form.validate();
      if (!this.valid) return;

      this.loading = true;

      try {
        const response = await this.$authorization.signUp({
          name: this.username,
          email: this.email,
          password: this.password,
          password_confirmation: this.repeatPassword,
        });

        if (response) {
          this.$auth.setUser({ name: response.name, email: response.email });
          this.$auth.setUserToken(response.access_token);
        }
      } catch (error) {
        console.error(error);
      }

      this.loading = false;
      this.$store.commit("ui/SET_SIGN_UP_DIALOG", false);
    },
  },
};
</script>
