<template>
  <div>
    <v-btn
      large
      text
      @click.stop="$store.commit('ui/SET_SIGN_IN_DIALOG', true)"
    >{{ $t('appBar.user.loginButton') }}</v-btn>

    <app-bar-sign-in-dialog />
    <app-bar-sign-up-dialog />
    <app-bar-forgot-password-dialog />
  </div>
</template>

<script>
export default {
  name: "AppBarSignButton",
  components: {
    AppBarSignInDialog: () => import("./AppBarSignInDialog"),
    AppBarSignUpDialog: () => import("./AppBarSignUpDialog"),
    AppBarForgotPasswordDialog: () => import("./AppBarForgotPasswordDialog"),
  },
};
</script>

<style lang="sass">
.v-text-field
  &--outlined
    border-radius: 0 !important
    &.v-input
      &--is-focused
        fieldset
          border-width: 1px !important
</style>
