<template>
  <v-dialog :value="forgotPasswordDialog" persistent hide-overlay width="400">
    <v-card outlined>
      <v-card-title class="mb-1">
        {{ $t('appBar.user.forgotPasswordDialog.title') }}
        <v-icon
          @click="$store.commit('ui/SET_FORGOT_PASSWORD_DIALOG', false)"
          style="position: absolute; right: 16px"
        >mdi-close</v-icon>
      </v-card-title>
      <v-card-text>
        <v-text-field
          outlined
          dense
          :placeholder="$t('appBar.user.forgotPasswordDialog.email')"
          type="email"
          color="black"
          :messages="$t('appBar.user.forgotPasswordDialog.message')"
          class="forgot-email"
        >
          <template v-slot:prepend-inner>
            <span class="pt-1 pr-1">📧</span>
          </template>
        </v-text-field>
      </v-card-text>
      <v-card-actions>
        <v-btn text outlined tile large block>{{ $t('appBar.user.forgotPasswordDialog.send') }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'AppBarForgotPasswordDialog',
  computed: {
    forgotPasswordDialog() {
      return this.$store.state.ui.forgotPasswordDialog
    }
  }
}
</script>

<style lang="sass">
.forgot-email
  .v-text-field
    &__details
      padding: 0 !important
</style>
