<template>
  <v-dialog :value="signInDialog" persistent hide-overlay width="400">
    <v-card outlined>
      <v-card-title class="mb-1">
        {{ $t('appBar.user.signInDialog.title') }}
        <v-icon
          @click="$store.commit('ui/SET_SIGN_IN_DIALOG', false)"
          style="position: absolute; right: 16px"
        >mdi-close</v-icon>
      </v-card-title>
      <v-card-text class="pb-0">
        <v-form v-model="valid" ref="form" @keyup.native.enter="signIn()">
          <v-text-field
            v-model="email"
            outlined
            dense
            :placeholder="$t('appBar.user.signInDialog.email')"
            :rules="emailRules"
            type="email"
            color="black"
          >
            <template v-slot:prepend-inner>
              <span class="pt-1 pr-1">📧</span>
            </template>
          </v-text-field>
          <v-text-field
            v-model="password"
            outlined
            dense
            :placeholder="$t('appBar.user.signInDialog.password')"
            :rules="passwordRules"
            type="password"
            color="black"
          >
            <template v-slot:prepend-inner>
              <span class="pt-1 pr-1">🔒</span>
            </template>
          </v-text-field>
        </v-form>

        <!-- <v-row>
          <v-col class="py-0">
            <v-checkbox
              color="black"
              class="mt-0 pt-0"
              hide-details
              :ripple="false"
              :label="$t('appBar.user.signInDialog.remember')"
            ></v-checkbox>
          </v-col>
          <v-col class="py-0">
            <v-btn
              block
              small
              text
              @click="() => {
              $store.commit('ui/SET_SIGN_IN_DIALOG', false)
              $store.commit('ui/SET_FORGOT_PASSWORD_DIALOG', true)
            }"
            >{{ $t('appBar.user.signInDialog.forgot') }}</v-btn>
          </v-col>
        </v-row>-->
      </v-card-text>
      <v-card-actions class="d-flex flex-column">
        <v-btn
          text
          outlined
          tile
          large
          block
          :loading="loading"
          :disabled="!valid"
          @click.stop="signIn()"
        >{{ $t('appBar.user.signInDialog.signIn') }}</v-btn>
        <v-btn
          text
          outlined
          tile
          small
          block
          class="mx-0 mt-4"
          @click="() => {
              $store.commit('ui/SET_SIGN_IN_DIALOG', false)
              $store.commit('ui/SET_SIGN_UP_DIALOG', true)
            }"
        >{{ $t('appBar.user.signInDialog.signUp') }}</v-btn>
      </v-card-actions>
      <!-- <v-divider />
      <v-row class="mx-0">
        <v-col cols="12">
          <div class="text-center overline">{{ $t('appBar.user.signInDialog.alternative') }}</div>
          <div class="d-flex justify-center">
            <v-btn icon>
              <v-icon>mdi-facebook</v-icon>
            </v-btn>
            <v-btn icon>
              <v-icon>mdi-twitter</v-icon>
            </v-btn>
            <v-btn icon>
              <v-icon>mdi-vk</v-icon>
            </v-btn>
            <v-btn icon>
              <v-icon>mdi-telegram</v-icon>
            </v-btn>
          </div>
        </v-col>
      </v-row>-->
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "AppBarSignInDialog",
  data() {
    return {
      valid: false,
      loading: false,
      email: "",
      emailRules: [
        (v) => !!v || this.$t("appBar.user.signInDialog.emailRequiredRules"),
        (v) =>
          /.+@.+\..+/.test(v) ||
          this.$t("appBar.user.signInDialog.emailValidRules"),
      ],
      password: "",
      passwordRules: [
        (v) => !!v || this.$t("appBar.user.signInDialog.passwordRules"),
      ],
    };
  },
  computed: {
    signInDialog() {
      return this.$store.state.ui.signInDialog;
    },
  },
  watch: {
    signInDialog(value) {
      if (!value) {
        this.$refs.form.reset();
      }
    },
  },
  methods: {
    async signIn() {
      this.$refs.form.validate();
      if (!this.valid) return;

      this.loading = true;

      try {
        const t = this.$t("appBar.user.signInDialog.successSignInAlert");

        let response = await this.$auth.loginWith("local", {
          data: {
            email: this.email,
            password: this.password,
          },
        });

        this.$store.commit("ui/SET_SIGN_IN_DIALOG", false);
        this.$store.commit("ui/SET_ALERT", {
          type: "success",
          message: t,
        });
      } catch (error) {
        this.$store.commit("ui/SET_ALERT", {
          type: "error",
          message: error,
        });
      }

      this.loading = false;
    },
  },
};
</script>
