<template>
  <v-menu eager attach offset-y :value="$vuetify.breakpoint.mobile ? false : undefined">
    <template v-slot:activator="{on, value}">
      <v-btn large text v-on="on">
        {{ $auth.user.name }}
        <v-icon v-if="value">mdi-menu-up</v-icon>
        <v-icon v-else>mdi-menu-down</v-icon>
      </v-btn>
    </template>
    <v-list class="py-0" v-show="appBarValue">
      <!-- <v-btn
        text
        large
        tile
        block
        :to="localePath('/profile')"
        exact
        nuxt
        active-class="no-active"
      >👤 {{ $t("appBar.userButton.profile") }}</v-btn> -->
      <v-btn text large tile block @click.stop="signOut()">🚪 {{ $t("appBar.userButton.signOut") }}</v-btn>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  name: "AppBarUserButton",
  computed: {
    appBarValue() {
      return this.$store.state.ui.appBarValue;
    },
  },
  methods: {
    signOut() {
      try {
        this.$auth.logout();
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>
