<template>
  <div>
    <template v-for="(item, key) in items">
      <v-divider class="mb-2" :key="'d-' + key" />
      <contest-result-item :item="item" :place="key <= 2 ? key : -1" :key="key" />
    </template>
  </div>
</template>

<script>
import ContestResultItem from "./ContestResultItem";

export default {
  name: "ContestResultList",
  props: {
    items: {
      type: Array,
      default: [],
    },
  },
  components: {
    ContestResultItem,
  },
};
</script>
