<template>
  <div class="mb-2 result-item">
    <span>{{ item.number }}</span>
    <template v-if="item">
      <fullscreen-preview :item="item" />
    </template>
    <span class="text-h6 black--text">
      <template v-if="item.result !== 0">
        <span v-if="place === 0">🥇</span>
        <span v-else-if="place === 1">🥈</span>
        <span v-else-if="place === 2">🥉</span>
      </template>
      {{ item.name }}
    </span>
    <v-progress-linear
      :value="(item.result / total) * 100"
      :color="generateColor(item.id)"
      height="20"
      class="mt-2 mb-2"
    >
      <b class="pl-2 white--text">{{ item.result }} ({{ ((item.result / total) * 100).toFixed(2) }}%)</b>
    </v-progress-linear>
  </div>
</template>

<script>
import FullscreenPreview from "@/components/FullscreenPreview/FullscreenPreview";
import { COLORS } from "@/utils/repository";

export default {
  name: "ContestResultItem",
  props: {
    item: {
      type: Object,
    },
    place: {
      type: Number,
    },
  },
  components: {
    FullscreenPreview,
  },
  computed: {
    total() {
      return this.$store.state.contest.contestData ? this.$store.state.contest.contestData.popularity : 0
    }
  },
  methods: {
    generateColor(id) {
      let hash = 0;

      for (let i = 0; i < id.length; i++) {
        hash = id.charCodeAt(i) + ((hash << 5) - hash);
        hash = hash & hash;
      }

      hash = ((hash % COLORS.length) + COLORS.length) % COLORS.length;

      return COLORS[hash];
    },
  },
};
</script>

<style lang="sass">
.result-item
  .v-progress-linear
    &__content
      justify-content: left !important
</style>
