<template>
  <div v-intersect.quiet="onIntersect"></div>
</template>

<script>
export default {
  name: "IntersectionLoader",
  computed: {
    meta() {
      return this.$store.state.ui.indexPage.meta;
    },
    typeTabsOrder() {
      return this.$store.getters["ui/typeTabs"];
    },
    dateTabsBy() {
      return this.$store.getters["ui/dateTabs"];
    }
  },
  methods: {
    async onIntersect(entries, observer, isIntersecting) {
      if (isIntersecting) {
        if (this.meta && this.meta.current_page !== this.meta.last_page) {
          const next_page = this.meta.current_page + 1;

          const { data, links, meta } = await this.$contest.list({
            page: next_page,
            order: this.typeTabsOrder,
            by: this.dateTabsOrder
          });

          this.$store.commit("ui/UPDATE_INDEX_PAGE", {
            contests: data,
            links: links,
            meta: meta
          });
        } 
      }
    }
  }
};
</script>