<template>
  <div class="d-inline-block">
    <v-avatar
      :max-width="size"
      :max-height="size"
      width="100%"
      height="100%"
      tile
      @click="fullscreen = true"
      style="cursor: pointer"
    >
      <img
        :src="item.type === 'image' ? item.media_url : getYtThumbnail(item.media_url)"
        :alt="item.name"
      />
    </v-avatar>
    <v-overlay :value="fullscreen" @click.native="fullscreen = false" class="fullscreen-preview">
      <div
        v-if="item.type === 'image'"
        :style="`background-image: url(${item.media_url}); background-size: contain; background-position: center; width: 100%; height: 90%`"
      ></div>
      <iframe
        v-else-if="item.type === 'video'"
        :src="`${item.media_url}?autoplay=0&showinfo=0&controls=2&fs=0&iv_load_policy=3`"
        height="80%"
        width="90%"
        style="vertical-align: middle"
        frameborder="0"
      />
    </v-overlay>
  </div>
</template>

<script>
import { getYtThumbnail } from "@/utils/utils";

export default {
  name: "FullscreenPreview",
  props: {
    item: Object,
    size: {
        type: String,
        default: '150px'
    }
  },
  data: () => ({
    fullscreen: false,
  }),
  methods: {
    getYtThumbnail,
  },
};
</script>

<style lang="sass">
.fullscreen-preview
    .v-overlay__content
        display: flex
        height: 100%
        width: 100%
        top: inherit !important
        justify-content: center
        align-items: center
</style>