<template>
  <v-footer
    app
    absolute
    padless
    color="grey lighten-3"
    style="border-top: 1px solid rgba(0,0,0,0.12) !important"
  >
    <v-row justify="center" no-gutters>
      <v-col cols="12" class="d-flex justify-center py-2">
        <div class="text-center">
          <v-btn
            text
            :to="localePath(`/`)"
            exact
            nuxt
            active-class="no-active"
          >{{ $t('footer.contests') }}</v-btn>
          <v-btn
            v-if="$auth.loggedIn"
            text
            :to="localePath(`/contest/create`)"
            exact
            nuxt
            active-class="no-active"
          >{{ $t('footer.createContest') }}</v-btn>
          <v-btn v-else text @click="openSignInDialog()">{{ $t('footer.createContest') }}</v-btn>
          <v-btn
            text
            :to="localePath(`/privacy-policy`)"
            exact
            nuxt
            active-class="no-active"
          >{{ $t('footer.privacyPolicy') }}</v-btn>
          <v-btn
            text
            :to="localePath(`/contact-us`)"
            exact
            nuxt
            active-class="no-active"
          >{{ $t('footer.contactUs') }}</v-btn>
        </div>
      </v-col>
      <v-divider />
      <v-col cols="12" class="py-2 text-center">
        <span>PICK.WS &copy; {{ new Date().getFullYear() }}</span>
      </v-col>
    </v-row>
  </v-footer>
</template>

<script>
export default {
  methods: {
    openSignInDialog() {
      this.$store.commit("ui/SET_SIGN_IN_DIALOG", true);
    },
  },
};
</script>