<template>
  <v-slide-x-reverse-transition v-if="alertData">
    <v-snackbar
      v-model="alert"
      :timeout="3000"
      :color="alertData.type"
      right
      top
      elevation="0"
      style="padding-top: 8px"
    >
      <v-icon v-if="alertData.type === 'success'">mdi-check</v-icon>
      <v-icon v-else-if="alertData.type === 'error'">mdi-alert-circle-outline</v-icon>
      {{ alertData.message }}
      <template v-slot:action>
        <v-icon @click="alert = false">mdi-close</v-icon>
      </template>
    </v-snackbar>
  </v-slide-x-reverse-transition>
</template>

<script>
export default {
  name: "Alert",
  data: () => ({
    alert: false
  }),
  computed: {
    alertData() {
      if (this.$store.state.ui.alert.type && this.$store.state.ui.alert.type) {
        this.alert = true;
        return this.$store.state.ui.alert;
      } else return null;
    }
  },
  watch: {
    alert(value) {
      if (value === false) {
        this.$store.commit("ui/SET_ALERT", {
          type: "",
          message: ""
        });
      }
    }
  }
};
</script>