<template>
  <v-fab-transition>
    <v-btn
      v-show="fab"
      v-scroll="onScroll"
      @click="toTop"
      fab
      :ripple="false"
      fixed
      bottom
      depressed
      right
    >
      <span class="headline">👆</span>
    </v-btn>
  </v-fab-transition>
</template>

<script>
export default {
  name: "ScrollButton",
  data: () => ({
    fab: false
  }),
  methods: {
    onScroll(e) {
      if (process.browser) {
        const top = window.pageYOffset || e.target.scrollTop || 0;
        this.fab = top > 60;
      }
    },
    toTop() {
      this.$vuetify.goTo(0);
    }
  }
};
</script>
